{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "transform-object-rest-spread"
  ],
  "compact": false
}
