.warpjs-react-modal {
    .modal-content {
        display: flex;
        flex-direction: column;
        max-height: calc(~"100vh - 60px");

        .modal-header, .modal-footer {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
        }

        .modal-body {
            overflow-y: auto;
            margin-bottom: 6px;
        }

        .modal-footer {
        }
    }
}
