<!DOCTYPE html>

<html>

<head>
  {{> common-index-header}}

  <link rel="stylesheet" href="{{staticUrl}}/app/warpjs.min.css" />

  {{#if cssFile}}
    <link rel="stylesheet" href="{{cssFile}}" />
  {{/if}}
</head>

<body>
  <div id="warpjs-content-placeholder"></div>

  {{> common-index-body-bottom}}
</body>

</html>
