<div class="row warpjs-cookie-popup-container warpjs-hide-details">
  {{> left-right-margin}}

  <div class="col-xs-12 col-sm-10">
    <div class="warpjs-cookie-popup-content">
      <div class="warpjs-legal-notice-content">
        {{{customMessages.PortalLegalNotice}}}
      </div>

      <div class="warpjs-cookie-popup">
        {{{customMessages.PortalCookiePopup}}}
      </div>

      <div class="warpjs-cookie-details">
        {{{customMessages.PortalCookiePopupDetails}}}
      </div>
    </div>

    <div class="warpjs-cookie-popup-info">
      <div class="warpjs-details-link">Cookie Details</div>

      <button type="button" class="btn warpjs-accept-cookies">{{customMessages.PortalCookiePopupAcceptLabel}}</button>
    </div>
  </div>

  {{> left-right-margin}}
</div>
