<footer class="footer i3c-portal--footer row">
    <div class="col-xs-1 left-right-margin" />

    <div class="col-xs-10 no-padding">
      {{> portal-footer-common}}
    </div>

    <div class="col-xs-1 left-right-margin" />
</footer>
