<header class="header i3c-portal--header row">
    <div class="col-xs-1 left-right-margin" />

    <div class="logo-container col-xs-5 no-padding">
        <a href="{{_links.warpjsHomepage.href}}"><img class="logo"
           src="/public/iic_images/IIC-logo-4.png"
           alt="[LOGO]" /></a>
    </div>

    <div class="map-browser-header col-xs-5">
        {{> login}}
        {{#if _links.mapBrowser}}
            <a href="{{_links.mapBrowser.href}}"><img align="right" title="{{_links.mapBrowserImage.title}}" src="{{_links.mapBrowserImage.href}}" /></a>
        {{/if}}
    </div>

    <div class="col-xs-1 left-right-margin" />
</header>
