<div class="logo-container">
  <a href="{{_links.warpjsHomepage.href}}"><img class="logo"
     src="/public/iic_images/IIC-logo-4.png"
     alt="[LOGO]" /></a>
</div>

<div class="header-items">
  {{#if _embedded.headerMenuItems}}
    <div class="pull-right">
      {{>menu menuItems=_embedded.headerMenuItems}}
    </div>
  {{/if}}
</div>
