<div class="logo-container col-xs-5 no-padding">
  <a href="{{_links.warpjsHomepage.href}}"><img class="logo"
     src="/public/iic_images/IIC-logo-4.png"
     alt="[LOGO]" /></a>
</div>

<div class="map-browser-header col-xs-5">
  {{#if _embedded.headerMenuItems}}
    <div class="pull-right">
      {{>menu menuItems=_embedded.headerMenuItems}}
    </div>
  {{/if}}
</div>
