{{#if warpjsUser}}
  <div class="pull-right warpjs-user-logged-in">
    Hi {{warpjsUser.Name}}
    <a href="{{_links.warpjsLogout.href}}"><span title="Log out" class="glyphicon glyphicon-log-out"></span></a>
  </div>
{{else if _links.warpjsLogin.href}}
  <div class="pull-right warpjs-user-not-logged-in">
    <button type="button" class="btn btn-default" data-warpjs-action="toggle-login-form">
      Login <span title="log in" class="glyphicon glyphicon-log-in"></span>
    </button>
    <div class="warpjs-login-form warpjs-hi-primary" data-warpjs-url="{{_links.warpjsLogin.href}}">
      <div class="pull-right">
        <button type="button" data-warpjs-action="toggle-login-form"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="warpjs-title">
        Please log in
      </div>
      <div>
        <input class="form-control" type="text" name="username" placeholder="username" required />
      </div>
      <div>
        <input class="form-control" type="password" name="password" placeholder="password" required />
      </div>
      <div>
        <button type="button" class="btn btn-primary" data-warpjs-action="log-in">Login</button>
      </div>
      <div>
        <button type="button" class="btn btn-default" data-warpjs-action="toggle-login-form">Cancel</button>
      </div>
    </div>
  </div>
{{/if}}
