<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-left"></a>
      <a class="navbar-brand" href="{{_links.warpjsHome.href}}" id="warpjsNavbarName">
        <img src="/public/logo.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
{{#if _links.warpjsContentDomain}}
      <li id="monAppHome"><a href="{{_links.warpjsDomain.href}}"><span class="glyphicon glyphicon-home"></span></a></li>
{{/if}}

{{#if _links.w2WarpjsSearch}}
      <li><a href="{{_links.w2WarpjsSearch.href}}"><span class="glyphicon glyphicon-search"></span></a></li>
{{/if}}
    </ul>

    <p class="navbar-text navbar-right">
        {{> login}}
        &nbsp;&nbsp;&nbsp;
    </p>
  </div>
</nav>
