<div class="page--top no-padding container-fluid" />
<div class="page--header no-padding container-fluid">
    {{> ./_header}}
</div>

<div class="page--body no-padding container-fluid">
    {{#block "content"}}REPLACE THIS{{/block}}
</div>

<div class="page--footer no-padding container-fluid">
    {{> ./_footer}}
</div>
