<div class="page--top no-padding container-fluid" />
<div class="page--header no-padding container-fluid">
    {{> ./header-portal}}
</div>

<div class="page--body no-padding container-fluid">
    {{#block "content"}}REPLACE THIS{{/block}}
</div>

<div class="page--footer no-padding container-fluid">
    {{> ./footer-portal}}
</div>
