<div class="page--top no-padding container-fluid">
  <div class="row warpjs-hi-primary">
    <div class="col-xs-1 left-right-margin"></div>
    <div class="col-xs-10">
      {{> portal-header-top}}
    </div>
    <div class="col-xs-1 left-right-margin"></div>
  </div>
</div>
<div class="page--header no-padding container-fluid">
  <header class="header i3c-portal--header row">
    <div class="col-xs-1 left-right-margin"></div>
    <div class="col-xs-10">
      {{> ./header-portal}}
    </div>
    <div class="col-xs-1 left-right-margin"></div>
  </header>
</div>

<div class="page--body no-padding container-fluid">
    {{#block "content"}}REPLACE THIS{{/block}}
</div>

<div class="page--footer no-padding container-fluid">
    {{> ./footer-portal}}
</div>
