<div class="col-xs-12 col-sm-6 col-md-4">
    Copyright &copy; {{copyrightYear}}
    <a href="https://www.omg.org/">Object Management Group, Inc.</a>
    The Industrial Internet Consortium and OpenFog names and logos are
    registered trademarks of Object Management Group, Inc., a not-for-profit
    501(c)(6) tax-exempt organization.
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    Other logos, products and company names referenced on this website
    are property of their respective companies.
</div>
<div class="col-xs-12 col-sm-6 col-md-4 social-links-wrapper">
    <span class="social-links-txt">Connect with us</span>
    <ul class="social-links social-links__dark">
        <li><a href="http://blog.iiconsortium.org/"><i class="fa fa-pencil-square-o"></i></a></li>
        <li><a href="https://www.facebook.com/IIConsortium?ref=hl"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/iiconsortium"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/industrial-internet-consortium/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/user/IIConsortium"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>
