{{#if _links.search}}
  <div class="pull-right search-box">
    <form class="form-inline with-white-group-addon header-search" method="get" action="{{_links.search.href}}">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search clickable" data-warpjs-action="search"></span>
          </div>
          <input type="text" name="q" class="form-control" placeholder="Search...">
      </div>
    </form>
  </div>
{{/if}}
