{{#if _links.search}}
  <div class="search-in-header">
    <span class="glyphicon glyphicon-search clickable" data-warpjs-action="expand"></span>
    <form class="form-inline search-expanded" method="get" action="{{_links.search.href}}" style="display:none;">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-remove clickable" data-warpjs-action="cancel"></span>
            <span class="glyphicon glyphicon-search clickable" data-warpjs-action="search"></span>
          </div>
      </div>
    </form>
  </div>
{{/if}}
