{{#partial "content"}}
<div class="col-xs-1 left-right-margin" />
<div class="col-xs-2" />
<div class="col-xs-6 alert alert-danger i3c-error">
    {{#if message}}<strong>{{message}}</strong>{{/if}}
    {{#if details}}<p>{{details}}</p>{{/if}}
    <p>Please contact..</p>
</div>
<div class="col-xs-2" />
<div class="col-xs-1 left-right-margin" />
{{/partial}}

{{> studio-index-page}}
