<form class="form">
<div class="warpjs-feedback-selection">
  <div class="form-group warpjs-feedback-selection-item">
    <div class="warpjs-feedback-selection-value">
      <input class="form-control" type="radio" name="choice"
        value="like"
        id="warpjs-feedback-selection-like" />
    </div>
    <div class="warpjs-feedback-selection-label">
      <label for="warpjs-feedback-selection-like">
        I like the content on this page
      </label>
    </div>
  </div>

  <div class="form-group warpjs-feedback-selection-item">
    <div class="warpjs-feedback-selection-value">
      <input class="form-control" type="radio" name="choice"
        value="issue"
        id="warpjs-feedback-selection-issue" />
    </div>
    <div class="warpjs-feedback-selection-label">
      <label for="warpjs-feedback-selection-issue">
        I think there is an issue with the content on this page
      </label>
    </div>
  </div>

  <div class="form-group warpjs-feedback-selection-item">
    <div class="warpjs-feedback-selection-value">
      <input class="form-control" type="radio" name="choice"
        value="bug"
        id="warpjs-feedback-selection-bug" />
    </div>
    <div class="warpjs-feedback-selection-label">
      <label for="warpjs-feedback-selection-bug">
        There seems to be a bug in this page / in the hub
      </label>
    </div>
  </div>

  <div class="form-group warpjs-feedback-selection-item">
    <div class="warpjs-feedback-selection-value">
      <input class="form-control" type="radio" name="choice"
        value="suggestion"
        id="warpjs-feedback-selection-suggestion" />
    </div>
    <div class="warpjs-feedback-selection-label">
      <label for="warpjs-feedback-selection-suggestion">
        I have a general suggestion for how to improve this page / the hub in
        general.
      </label>
    </div>
  </div>

  <div class="form-group warpjs-feedback-text">
    <textarea class="form-control" name="text"
      placeholder="Please describe issues, bugs or leave us your general suggestions."
      disabled
      ></textarea>
  </div>
</div>
