.warpjs-button {
    &.warpjs-button-with-glyph.warpjs-button-with-label {
        .warpjs-button-glyph {
            margin-right: 10px;
        }
    }

    &.no-outline {
        border: none;
        box-shadow: none;
    }
}

.warpjs-action-icon {
    padding-left: 7px;
    padding-right: 7px;

    &.warpjs-clickable {
        cursor: pointer;
    }
}

.warpjs-rounded-checkbox {
    position: relative;
    padding-left: 24px;

    .warpjs-rounded-checkbox-image {
        background-image: url(images/checkbox-off.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0px;
    }

    &.warpjs-rounded-checkbox-click span {
        cursor: pointer;
    }

    &.warpjs-rounded-checkbox-checked {
        .warpjs-rounded-checkbox-image {
            background-image: url(images/checkbox-on.svg);
        }
    }

    &:after {
        display: none;
        content: url(images/checkbox-on.svg) url(images/checkbox-off.svg);
    }
}

@import './auto-save-field/style.less';
@import './spinner/style';
@import './modal-container/style';
